
.icon-save{     background-image:url(../image/icons/save.gif) !important; background-size: contain;}


.x-tree-icon-parent-expanded {
    background-image: url(../image/icons/folder-open.gif);
}
.x-tree-icon-leaf,.x-tree-icon-parent {
    background-image: url(../image/icons/folder.gif);
}

			
.schedule-0{  background: rgba(255,   0,   0, 0.7); }
.schedule-1{  background: rgba(  0, 255,   0, 0.7); }
.schedule-2{  background: rgba(255, 255,   0, 0.7); }
.schedule-3{  background: rgba(255,   0, 255, 0.7); }
.schedule-4{  background: rgba(  0, 255, 255, 0.7); }
.schedule-5{  background: rgba(255, 127,   0, 0.7); }
.schedule-6{  background: rgba(255,   0, 127, 0.7); }
.schedule-7{  background: rgba(255, 127, 127, 0.7); }
.schedule-8{  background: rgba(  0, 255, 127, 0.7); }
.schedule-9{  background: rgba(  0,   0, 127, 0.7); }
.schedule-e{  background: rgba(  0,   0, 255, 0.7); }
